<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <title>Interactive Map</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="button">Home</a>
            <a href="/map" class="button">Map</a>
        </nav>
    </header>
    <main class="page-content">
        <h1>Explore Our Adventures</h1>
        <div id="map"></div>
        <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="fullImage">
        </div>
    </main>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script>
        const map = L.map('map').setView([51.505, -0.09], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 2,
        }).addTo(map);

        // Create a marker cluster group
        const markers = L.markerClusterGroup();

        fetch('/uploads/data.json')
            .then(response => response.json())
            .then(data => {
                data.forEach(item => {
                    const { latitude, longitude, filePath, caption } = item;
                    if (latitude && longitude) {
                        const marker = L.marker([latitude, longitude])
                            .bindPopup(`<img src="/uploads/${filePath}" alt="Image" style="width:100px;height:auto;cursor:pointer;" onclick="openModal('/uploads/${filePath}')"><br>${caption}`);
                        markers.addLayer(marker); // Add marker to the cluster group
                    }
                });
                map.addLayer(markers); // Add the cluster group to the map
            })
            .catch(error => console.error('Error loading data:', error));

        const modal = document.getElementById('imageModal');
        const fullImage = document.getElementById('fullImage');
        const closeModal = document.getElementsByClassName('close')[0];

        function openModal(src) {
            fullImage.src = src;
            modal.style.display = 'block';
        }

        closeModal.onclick = function() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        }
    </script>
</body>
</html>
